.app{
    min-height: 98.5vh;
    border: 10px solid grey ;
    background-image: url("a2.jpg");
    margin: 5;
    padding: 5;
}
*::-webkit-scrollbar {
    width: 8px;
    background-color: grey;
  }
  .mainImg {
    padding: 10px 0 5px 0;
  }